<form
    method="{{(xor method 'post')}}"
    action="{{action}}"
    hx-post="{{action}}"
    hx-swap="outerHTML"
    class="p-8 transform-gpu overflow-hidden rounded-lg shadow-xl ring-1 bg-zinc-900 ring-zinc-800 sm:max-w-xl opacity-100 scale-100"
>
    {{> @partial-block}}
    <br/>
    <div align="center">
        {{> partials/forms/fields/input type="submit" value="Absenden" show_cursor=true}}
    </div>
    {{#each errors}}
        <p class="text-red-400" align="center">{{this}}</p>
    {{/each}}
</form>