{% extends "layouts/default.html" %}
{% import "partials/form/form_left_aligned.html" as form %}
{% import "partials/form/input_wrapper/left_aligned.html" as input_wrapper %}
{% import "partials/form/input/input.html" as input %}

{% block content %}

{% if context.is_boosted_request() %}

{% include "partials/product/boosted_list.html" %}

{% else %}

<title>Preiskampf | Einkaufstour</title>
<h1>Einkaufstour</h1>
<div class="max-w-4xl not-prose">
    {% call form::start(
        method="get", 
        action=context.uri.path(),
        swap="outerHTML transition:true",
        target="#product_list",
        boost=true,
        push_url=true,
        headers="{\"Hx-Boosted\": true}",
    ) %}
        {% call input_wrapper::start(
            for_input="q", label="Suchbegriff", description="", hide_border=true
        ) %}
            {% call input::field(
                input_type="text",
                name="q",
                value=context.query_params.get_q().unwrap_or_default(),
                placeholder="",
                autocomplete=true,
                required=false,
                readonly=false,
                inline=true,
                is_ajax_input=true,
                full_width=true,
            ) %}
        {% call input_wrapper::end() %}
    {% call form::end(
        hide_control_buttons=true,
        errors=errors,
        reset_url="",
        swap="",
        target="",
        submit_label="",
    ) %}

    {% include "partials/product/boosted_list.html" %}
</div>

{% endif %}

{% endblock %}