{% extends "layouts/default.html" %}
{% import "partials/product/list_entry.html" as list_entry %}
{% import "partials/form/form_left_aligned.html" as form %}
{% import "partials/form/input_wrapper/left_aligned.html" as input_wrapper %}
{% import "partials/form/input/input.html" as input %}

{% block content %}
<title>Preiskampf | Einkaufstour</title>
<h1>Einkaufstour</h1>

<div class="max-w-4xl not-prose">

    {# TODO maybe i need to pass the url in push_url #}
    {% call form::start(
        method="get", 
        action="{{ context.uri() }}",
        swap="outerHTML transition:true",
        target="#product_list",
        boost=true,
        push_url="",
        headers="{\"Hx-Boosted\": true}",
    ) %}
    {% call form::end(
        hide_control_buttons=true,
        errors=errors,
        reset_url="",
        swap="",
        target="",
    ) %}

    <div id="product_list">
        {% for product in products %}
            {% call list_entry::default(product) %}
        {% endfor %}
    </div>

    {{ pagination.render(context).unwrap_or_default()|safe }}

</div>
{% endblock %}