<div class="p-4">
    <div class="flex items-start">
        {{#if is_success}}
            <div class="flex-shrink-0">
                {{> icons/checkmark}}
            </div>
        {{else}}
            <div class="flex-shrink-0">
                {{> icons/close width="6" height="6" currentColor="firebrick"}}
            </div>
        {{/if}}            
        <div class="ml-3 w-0 flex-1 pt-0.5">
            <p class="text-sm font-medium text-white">{{message}}</p>
            {{#if hint}}
                <p class="mt-1 text-sm text-white">{{hint}}</p>
            {{/if}}
        </div>
        <div class="ml-4 flex flex-shrink-0">
            <button xui-close-button type="button" class="inline-flex rounded-md text-zinc-400 hover:text-zinc-500 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">
                {{> icons/close width="5" height="5"}}
            </button>
        </div>
    </div>
</div>