<div aria-live="assertive" class="pointer-events-none fixed inset-0 flex px-4 py-6 lg:py-16 sm:items-start sm:p-6 z-50">
    <div id="notification-container" class="flex w-full flex-col items-center space-y-4 sm:items-end">
        {{#if notification}}
            <div xui-el="Notification" class="
                pointer-events-auto w-full max-w-sm overflow-hidden rounded-lg shadow-lg ring-1 ring-black ring-opacity-5
                transform ease-out duration-300 transition -translate-y-12 opacity-0 sm:translate-y-0 sm:translate-x-2 {{!-- enter-from --}}
            " style="background-color:rgba(23, 23, 23, .9)">            
                {{> partials/notifications/message_content 
                    is_success=notification.is_success 
                    message=notification.message 
                    hint=notification.hint
                }}
            </div>
        {{/if}}
    </div>
</div>