<button
    type="button"
    class="flex h-6 w-6 items-center justify-center rounded-md transition hover:bg-white/5"
    xui-el="NavigationToggle"    
    xui-navigation-toggle="closed"
>
    {{> icons/menu_icon}}
    {{> icons/x_icon hidden=true}}
</button>

{{#unless is_inside_mobile_nav}}
<div class="fixed inset-0 z-50 lg:hidden" x-navigation-content style="opacity:0;">
    <div class="fixed inset-0 top-14 backdrop-blur-sm bg-black/40"></div>

    <div>
        {{> partials/header/main is_inside_mobile_nav=true}}

        <div
            class="transition fixed bottom-0 top-14 w-full overflow-y-auto px-4 pb-4 pt-6 shadow-lg shadow-zinc-900/10 ring-1 bg-zinc-900 ring-zinc-800 min-[416px]:max-w-sm sm:px-6 sm:pb-10"
            style="transform:translateX(-100%);"
            x-navigation-list
        >
            {{> partials/navigation/main}}
        </div>
    </div>
</div>
{{/unless}}