<div 
    x-header-main="{{#if is_inside_mobile_nav}}1{{else}}2{{/if}}"
    class="fixed inset-x-0 top-0 z-50 flex h-14 items-center justify-between gap-12 px-4 sm:px-6 lg:left-72 lg:z-30 lg:px-8 xl:left-80
        {{#if is_inside_mobile_nav}}bg-zinc-900{{else}}backdrop-blur bg-zinc-900/[var(--bg-opacity-dark)]{{/if}}
    "
>
    <div class="absolute inset-x-0 top-full h-px transition bg-white/7.5"></div>

    <div class="hidden lg:block lg:max-w-md lg:flex-auto">
        {{! TODO search maybe?}}
    </div>

    <div class="flex items-center gap-5 lg:hidden w-full">
        {{#unless is_full_width_layout}}
            {{> partials/navigation_mobile/main is_inside_mobile_nav=is_inside_mobile_nav}}
        {{/unless}}
        {{> partials/atoms/logo}}
    </div>

    <div class="flex items-center gap-5">
        <div class="hidden min-[416px]:contents">
            {{#if authenticated_user}}
                {{> partials/atoms/link is_ajax_action=true label=authenticated_user.email href="/mein-profil"}}
                {{> partials/atoms/button label="Logout" style="primary" href="/logout" post=true}}
            {{else}}
                {{> partials/atoms/button label="Login" style="primary" href="/login"}}
            {{/if}}
        </div>
    </div>

    <div class="min-[416px]:hidden absolute right-2">
        {{#if authenticated_user}}
            {{> partials/atoms/button label="Logout" style="primary" href="/logout" post=true}}
        {{else}}
            {{> partials/atoms/button label="Login" style="primary" href="/login"}}
        {{/if}}
    </div>
</div>