{% extends "layouts/default.html" %}

{% block content %}

<title>Preiskampf | Login</title>
<h1>Login</h1>
{% include "partials/auth/login_form.html" %}
<p class="mt-10 text-sm text-center">
    Noch keinen Account?
    <a
        class="font-semibold leading-6 text-zinc-300 hover:text-zinc-600 no-underline cursor-pointer"
        hx-get="/registrieren"
        hx-target="#swap-content"
        hx-swap="innerHTML transition:true"
        xui-el="Navigation"
        xui-is-nav
    >Hier erstellen</a>
</p>

{% endblock %}