{% if notification.is_oob_swap %}
<div hx-swap-oob="beforeend" id="notification-container">
{% endif %}
    <div xui-el="Notification" class="
        pointer-events-auto w-full max-w-sm overflow-hidden rounded-lg shadow-lg ring-1 ring-black ring-opacity-5
        transform ease-out duration-300 transition translate-y-2 opacity-0 sm:translate-y-0 sm:translate-x-2
    " style="background-color:rgba(23, 23, 23, .9)" id="notification-background">
        {% include "partials/notifications/message_content.html" %}
    </div>
{% if notification.is_oob_swap %}
</div>
{% endif %}