{% extends "layouts/default.html" %}
{% import "partials/atoms/link.html" as link %}

{% block content %}
<title>Preiskampf | Stöbern</title>
<h1>Stöbern</h1>

<div class="not-prose">
    <ul role="list" class="grid gap-y-8 prose">
        {% for post in posts %}
            <li>
                {% call link::start_with_defaults(
                    href=format!("/posts/{}", post.id),
                    method="get",
                    class_name="",
                    title=""
                ) %}
                    {{ post.id }}
                {% call link::end() %}
            </li>
        {% endfor %}
    </ul>
    {{ pagination.render_with_context(context).unwrap_or_default()|safe }}
</div>
{% endblock %}