<div class="not-prose">
    <ul role="list" class="not-prose grid grid-cols-1 gap-x-6 gap-y-8 lg:grid-cols-3 xl:gap-x-8">
        {{#each shopping_lists}}
            {{> partials/elements/shopping_lists/list_entry 
                this
                current_list=../shopping_lists
                authenticated_user=../authenticated_user
                pagination=../pagination
            }}
        {{/each}}
        {{> partials/elements/shopping_lists/list_entry create=true}}
    </ul>
    {{> partials/pagination/by_offset }}
</div>