{% import "partials/navigation/item.html" as navigation %}
{# TODO #}
{# @import url(https://pro.fontawesome.com/releases/v5.10.0/css/all.css); #}
{# TODO wie auf die home?! #}

<div class="min-[416px]:hidden min-w-screen flex items-center justify-center pt-5 fixed bottom-0 z-10 w-full" id="mobile-navigation">
    <div class="bg-zinc-900 shadow-lg border-t border-white/10 w-full flex">
        {% call navigation::button("Einkaufstour", "/einkaufstour", false) %}
        {% call navigation::button("Einkaufszettel", "/einkaufszettel?limit=6", false) %}
        {% call navigation::button("Profil", "/mein-profil", false) %}
        {% call navigation::button("Freunde", "/contacts", false) %}
    </div>
</div>