{% extends "layouts/default.html" %}
{% import "partials/user/contacts_form.html" as contacts %}
{% import "partials/user/contacts_list.html" as list %}
{% import "partials/icons.html" as icons %}

{% block content %}

<title>Preiskampf | Meine Kontakte</title>
<h1>Kontaktliste</h1>

{% call list::default("confirmed-contacts-list", contacts) %}

{% call contacts::contact_add_form() %}

<br>
{% call list::default("sent-requests-list", requested_contacts) %}
{% call list::default("pending-requests-list", pending_contacts) %}

{% endblock %}