{% extends "layouts/default.html" %}
{% import "partials/form/form_left_aligned.html" as form %}
{% import "partials/form/input_wrapper/left_aligned.html" as input_wrapper %}
{% import "partials/form/input/input.html" as input %}
{% import "partials/form/input/input_address.html" as address_input %}

{% block content %}

{% let authenticated_user = authenticated_user.as_ref() %}

<title>Preiskampf | Mein Profil</title>
<h1>Profil</h1>

{% call form::start(
    method="post", 
    action="/user/save",
    swap="innerHTML",
    target="#swap-content",
    boost=false,
    push_url=false,
    headers="",
) %}

    {% if !context.is_create_operation() %}
        {% call input::field(
            input_type="hidden",
            name="id",
            value=authenticated_user.unwrap().id.unwrap_or_default(),
            placeholder="",
            autocomplete=false,
            required=true,
            readonly=true,
            inline=false,
            is_ajax_input=false,
            full_width=false,
        ) %}
    {% endif %}

    {% call input_wrapper::start(
        for_input="email", label="Email", description="", hide_border=true
    ) %}
        {% call input::field(
            input_type="email",
            name="email",
            value=authenticated_user.unwrap().email.as_str(),
            placeholder="",
            autocomplete=false,
            required=true,
            readonly=true,
            inline=true,
            is_ajax_input=false,
            full_width=true,
        ) %}
    {% call input_wrapper::end() %}

    {% call input_wrapper::start(
        for_input="username", label="Benutzername", description="", hide_border=true
    ) %}
        {% call input::field(
            input_type="text",
            name="username",
            value=authenticated_user.unwrap().get_username(),
            placeholder="",
            autocomplete=false,
            required=false,
            readonly=false,
            inline=true,
            is_ajax_input=false,
            full_width=true,
        ) %}
    {% call input_wrapper::end() %}


    {% call input_wrapper::start(
        for_input="address", label="Adresse", description="Hier kannst du deine Adresse hinterlegen, um spezifische Sonderangebote zu erhalten", hide_border=true
    ) %}
        {% call address_input::field(
            name="address",
            value=authenticated_user.unwrap().get_address(),
            lng=authenticated_user.unwrap().address_lng.clone(),
            lat=authenticated_user.unwrap().address_lat.clone(),
            placeholder="Adresse suchen..",
            required=false,
            readonly=false,
            inline=true,
            full_width=true,
        ) %}
    {% call input_wrapper::end() %}

{% call form::end(
    hide_control_buttons=false,
    errors=errors,
    reset_url="/mein-profil",
    swap="innerHTML",
    target="#swap-content",
    submit_label="",
) %}

{% endblock %}