{% extends "layouts/default.html" %}
{% import "partials/product/list_entry.html" as product_list_entry %}
{% import "partials/form/form_left_aligned.html" as form %}
{% import "partials/form/input_wrapper/left_aligned.html" as input_wrapper %}
{% import "partials/form/input/input.html" as input %}
{% import "partials/form/input/emoji_picker.html" as emoji_picker %}

{% block content %}

{% let title %}
{% if context.is_create_operation() %}
    {% let title = "Neuen Einkaufszettel anlegen" %}
{% else %}
    {% let title = shopping_list.name.as_ref() %}
{% endif %}
<title>Preiskampf | {{ title }}</title>
<h1>{{ title }}</h1>

{% call form::start(
    method="put", 
    action="/shopping_list/save",
    swap="",
    target="form[xui-element-name='form_left_aligned']",
    boost=false,
    push_url=false,
    headers="",
) %}

    {% if !context.is_create_operation() %}
        {% call input::field(
            input_type="hidden",
            name="id",
            value=shopping_list.id,
            placeholder="",
            autocomplete=false,
            required=true,
            readonly=true,
            inline=false,
            is_ajax_input=false,
            full_width=false,
        ) %}
    {% endif %}

    {% call input_wrapper::start(
        for_input="emoji_presentation", label="Anzeigebild", description="", hide_border=true
    ) %}
        {% call emoji_picker::field(
            name="emoji_presentation",
            value=shopping_list.emoji_presentation.as_ref(),
        ) %}
    {% call input_wrapper::end() %}

    {% call input_wrapper::start(
        for_input="name", label="Name", description="", hide_border=true
    ) %}
        {% call input::field(
            input_type="text",
            name="name",
            value=shopping_list.name.as_str(),
            placeholder="",
            autocomplete=false,
            required=true,
            readonly=false,
            inline=true,
            is_ajax_input=false,
            full_width=true,
        ) %}
    {% call input_wrapper::end() %}

{# TODO need a different target with the product list, because in shopping_list_update only the form is re-rendered, not the product-list #}
{% call form::end(
    hide_control_buttons=false,
    errors=errors,
    reset_url=Self::get_reset_url(self),
    swap="innerHTML",
    target="#swap-content",
    submit_label="",
) %}

{% if selected_products.is_some() %}
    {% let selected_products = selected_products.as_ref().unwrap() %}

    {% if selected_products.len() > 0 %}
        <div id="product_list" class="not-prose mt-8">
            <ul role="list">
                {% for list_product in selected_products %}
                    {% call product_list_entry::shopping_list(product=list_product, shopping_list_id=shopping_list.id, is_liked=true) %}
                {% endfor %}
            </ul>

            {% if pagination.is_some() %}
                {{ pagination.as_ref().unwrap().render_with_context(context).unwrap_or_default()|safe }}
            {% endif %}
        </div>
    {% endif %}
{% endif %}

{% endblock %}