{% macro item(label, href, reload_page) %}
<li class="z-10 mt-6">
    <a
        href="{{ href }}"
        {% if !reload_page %}
        hx-get="{{ href }}"
        hx-target="#swap-content"
        hx-swap="innerHTML transition:true"
        xui-el="Navigation"
        xui-is-nav
        {% endif %}
        class="flex cursor-pointer justify-between gap-2 py-1 pr-3 text-sm transition hover:text-white
            {% if crate::core::request_extension::strip_query_from_uri(href) == context.uri.path() %} text-white font-bold{% else %} text-zinc-400{% endif %}
        "
    >
        <span class="truncate">{{ label }}</span>
    </a>
</li>
{% endmacro %}

{% macro button(href, reload_page, is_last) %}
{% let is_active = crate::core::request_extension::strip_query_from_uri(href) == context.uri.path() %}
<div class="flex-1 group">
    <a
        href="{{ href }}"
        {% if !reload_page %}
        hx-get="{{ href }}"
        hx-target="#swap-content"
        hx-swap="innerHTML transition:true"
        xui-el="Navigation"
        xui-is-nav-mobile
        {% endif %}
        class="flex items-end justify-center text-center mx-auto px-1 py-2 w-full group-hover:text-white
            {% if !is_last %} border-r border-white/10 {% endif %}
            {% if is_active %} text-white {% else %} text-zinc-400 {% endif %}
        "
    >
        <span class="px-1 py-2">            
{% endmacro %}

{% macro button_end(href) %}
{% let is_active = crate::core::request_extension::strip_query_from_uri(href) == context.uri.path() %}
            <span class="block w-5 mx-auto h-1 mt-1 group-hover:bg-emerald-400 rounded-full
                {% if is_active %} bg-emerald-400 {% endif %}"></span>
        </span>
    </a>
</div>
{% endmacro %}