{% macro field(name, value) %}
<input type="hidden" name="{{ name }}" {% if value.is_some() %}value="{{ value.unwrap() }}"{% endif %}>
<div class="sm:pt-1.5 relative inline-block text-left">
    <span class="rounded-md shadow-sm">
        <button type="button" class="form-select block w-full transition duration-150 ease-in-out" xui-el="PopoverToggle" xui-toggle-btn="emoji-picker-{{ name }}">
            {% if value.is_some() && value.unwrap().len() > 0 %}
                <div class="flex items-center text-left text-xl" xui-emoji-value="{{ name }}">&#{{ value.unwrap() }};</div>
            {% else %}
                <div class="text-xs leading-7 hover:text-white transition duration-150 ease-in-out" xui-emoji-value="{{ name }}">
                    Hier klicken zum Bearbeiten
                </span>
            {% endif %}
        </button>
    </span>

    <div 
        class="origin-top-right absolute left-0 mt-2 w-60 rounded-md shadow-lg transition ease-out duration-100 transform  opacity-0 scale-95 -z-50" 
        xui-toggle-target="emoji-picker-{{ name }}"
    >
        <div class="rounded-md bg-zinc-900 shadow-xs">
            <div class="px-2 py-3 grid grid-cols-12 gap-4" xui-block-toggle="1">
                {% for emoji in self::EMOJI_LIST %}
                    <a 
                        xui-el="EmojiPicker"
                        xui-emoji-for="{{ name }}"
                        xui-picked-emoji="{{ emoji }}"
                        xui-block-toggle="1"
                        class="col-span-2 cursor-pointer block m-auto text-xl hover:bg-slate-200/10 focus:outline-none no-underline rounded-md transition duration-150 ease-in-out"
                    >
                        &#{{ emoji }};
                    </a>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endmacro %}