<!DOCTYPE html>
<html lang="de" class="h-full">
<head>
    <title>Preiskampf | Seite nicht gefunden</title>
    {{> partials/head_include}}
</head>
{{#> layouts/default}}
    <p class="mt-10 text-center text-sm">
        Die Seite '{{requested_path}}' konnte nicht gefunden werden.
    </p>
{{/layouts/default}}
</html>