<!DOCTYPE html>
<html lang="de" class="h-full">
<head>
    <title>Preiskampf | Über uns</title>
    {{> partials/head_include}}
</head>
{{#> layouts/full_width}}
    <div align="center">
        <h2>Über uns</h2>
    </div>
{{/layouts/full_width}}
</html>