{{#* inline "content"}}
    <title>Preiskampf | Meine Einkaufszettel</title>
    <h1>Meine Einkaufszettel</h1>
    {{> partials/elements/shopping_lists/list}}
{{/inline}}

{{#if is_navigation_action}}
    {{> content}}
{{else}}
<!DOCTYPE html>
<html lang="de" class="h-full">
    <head>
        {{> partials/head_include}}
    </head>
    {{#> layouts/default}}
        {{> content}}
    {{/layouts/default}}
</html>
{{/if}}