<!DOCTYPE html>
<html lang="de" class="h-full">
<head>
    <title>Preiskampf | Login</title>
    {{> partials/head_include}}
</head>
{{#> layouts/full_width}}
    <div align="center">
        <h2>Login</h2>
    </div>
    {{> partials/elements/login}}
    <p class="mt-10 text-center text-sm">
        Noch keinen Account?
        <a class="font-semibold leading-6 text-zinc-300 hover:text-zinc-600 no-underline" href="/registrieren">Hier erstellen</a>
    </p>
{{/layouts/full_width}}
</html>