{{#* inline "content"}}
    <title>Preiskampf | Mein Profil</title>
    <h1>Profil</h1>
    {{> partials/elements/profile}}
{{/inline}}

{{#if is_navigation_action}}
    {{> content}}
{{else}}
<!DOCTYPE html>
<html lang="de" class="h-full">
    <head>
        {{> partials/head_include}}
    </head>
    {{#> layouts/default}}
        {{> content}}
    {{/layouts/default}}
</html>
{{/if}}