<!DOCTYPE html>
<html lang="de" class="h-full">
<head>
    <title>Preiskampf | Registrieren</title>
    {{> partials/head_include}}
</head>
{{#> layouts/full_width}}
    <div align="center">
        <h2>Registrierung</h2>
    </div>
    {{> partials/elements/register}}
    <p class="mt-10 text-center text-sm">
        Account bereits vorhanden?
        <a class="font-semibold leading-6 text-zinc-300 hover:text-zinc-600 no-underline" href="/login">Hier einloggen</a>
    </p>
{{/layouts/full_width}}
</html>