{% import "partials/form/form_left_aligned.html" as form %}
{% import "partials/form/input_wrapper/left_aligned.html" as input_wrapper %}
{% import "partials/form/input/input.html" as input %}

{% macro contact_add_form() %}
    {% call form::with_defaults(method="PUT", action="/contacts/save_contact_request") %}

        {% call input_wrapper::with_defaults(for_input="contact_email", label="Neue Kontaktanfrage an Email") %}
            {% call input::field_with_defaults(input_type="email", name="contact_email", value="") %}
        {% call input_wrapper::end() %}

    {% call form::end_as_submit_with_defaults(errors=errors) %}
{% endmacro %} 