{% import "partials/atoms/link.html" as link %}
{% import "partials/atoms/button.html" as button %}
{% import "partials/icons.html" as icons %}

{% macro default(contact) %}

<li class="flex justify-between gap-x-6 py-2 border-t border-zinc-400/10" id="contact_{{ contact.inner.id }}">
    <div class="grid grid-cols-2 min-w-0 gap-x-4">
        <div class="min-w-0">
            <p class="text-xs leading-6 max-h-6 truncate text-white">
                {% if contact.inner.state == "pending_contact_request" %}
                    {% if authenticated_user.as_ref().unwrap().get_id().unwrap() == contact.inner.to_user_id %}
                        Empfangene Anfrage:
                    {% else %}
                        Gesendete Anfrage:
                    {% endif %}
                {% endif %}
                {{ contact.email }}
            </p>
        </div>
        <div class="min-w-0 my-auto">
            {% if contact.inner.state == "pending_contact_request" %}
                {% if authenticated_user.as_ref().unwrap().get_id().unwrap() == contact.inner.to_user_id %}
                    {% let confirm_href = format!("/contacts/confirm_contact_request/{}", contact.inner.by_user_id) %}
                    {% call button::as_link_start(
                        href=confirm_href, button_type="primary", method="post", target=format!("#contact_{}", contact.inner.id), swap="outerHTML", is_ajax_action=false
                    ) %}
                        {% call icons::checkmark(5, 5, "text-green-400") %}
                    {% call button::as_link_end() %}
                {% endif %} 
            {% endif %}

            {% let delete_href = format!("/contacts/delete_contact_request/{}", contact.inner.id) %}
            {% call button::as_link_start(
                href=delete_href, button_type="secondary", method="delete", target=format!("#contact_{}", contact.inner.id), swap="outerHTML", is_ajax_action=false
            ) %}
                {% call icons::close(5, 5, "firebrick") %}
            {% call button::as_link_end() %}
        </div>
    </div>
</li>

{% endmacro %}