{% import "partials/atoms/link.html" as link %}
{% import "partials/atoms/button.html" as button %}
{% import "partials/icons.html" as icons %}

{% macro default(contact) %}

<li id="contact_{{ contact.inner.id }}">
    <div class="overflow-hidden rounded-xl border border-white/50 bg-zinc-900/90 h-full">
        <div class="flex items-center gap-x-4 p-6">
            <div class="text-sm font-medium leading-6 text-white">
                {{ contact.email }}
            </div>
        </div>

        <div class="divide-y divide-white/10 px-6 pb-4 text-sm leading-6 grid gap-x-4">

            {% if contact.inner.state == "pending_contact_request" %}
                {% if authenticated_user.as_ref().unwrap().get_id().unwrap() == contact.inner.to_user_id %}
            <div class="grid grid-cols-3" style="padding-bottom:4px;">
                <dt class="text-zinc-400 col-span-2">Anfrage annehmen</dt>
                <dd class="col-span-1 grid justify-end">
                    {% let confirm_href = format!("/contacts/confirm_contact_request/{}", contact.inner.by_user_id) %}
                    {% call button::as_link_start(
                        href=confirm_href, 
                        button_type="primary", 
                        method="post", 
                        target=format!("#contact_{}", contact.inner.id), 
                        swap="outerHTML", 
                        is_ajax_action=false,
                    ) %}
                        {% call icons::checkmark(5, 5, "text-green-400") %}
                    {% call button::as_link_end() %}
                </dd>
            </div>
            <div class="grid grid-cols-3" style="padding-top:4px;">
                <dt class="text-zinc-400 col-span-2">Anfrage ablehnen</dt>
                {% else %}
            <div class="grid grid-cols-3">
                <dt class="text-zinc-400 col-span-2">Anfrage zurückziehen</dt>
                {% endif %}
            {% else %}
            <div class="grid grid-cols-3">
                <dt class="text-zinc-400 col-span-2">Kontakt löschen</dt>
            {% endif %}
                <dd class="col-span-1 grid justify-end">
                    {% let delete_href = format!("/contacts/delete_contact_request/{}", contact.inner.id) %}
                    {% call button::as_link_start(
                        href=delete_href, 
                        button_type="secondary", 
                        method="delete", 
                        target=format!("#contact_{}", contact.inner.id), 
                        swap="outerHTML", 
                        is_ajax_action=false,
                    ) %}
                        {% call icons::close(5, 5, "firebrick") %}
                    {% call button::as_link_end() %}
                </dd>
            </div>
        </div>

    </div>
</li>

{% endmacro %}