<nav class="flex items-center justify-between border-t border-gray-200 px-4 sm:px-0 mt-8">
    <div class="-mt-px flex w-0 flex-1">
        {{#> partials/atoms/link 
            href=(concat requested_path "?page=" (sub pagination.page 1 false) (preserve_query_params query_params)) 
            className="inline-flex pt-4"
            disabled=(eq pagination.page 0)
            is_ajax_action=true
        }}
            {{> icons/arrow back=true}}
            Vorherige Seite
        {{/partials/atoms/link}}
    </div>
    <div class="hidden md:-mt-px md:flex">
        {{#if (ne pagination.page 0)}}
            {{> partials/pagination/page_link page=0 }}
        {{/if}}
        {{#if (gt (sub pagination.page 1 false) 0)}}
            <span class="inline-flex items-center border-t-2 border-transparent px-4 pt-4 text-sm font-medium text-gray-500">...</span>
        {{/if}}
        {{> partials/pagination/page_link page=pagination.page active=true }}
        {{#if (gt (sub pagination.last_page pagination.page false) 1)}}
            <span class="inline-flex items-center border-t-2 border-transparent px-4 pt-4 text-sm font-medium text-gray-500">...</span>
        {{/if}}
        {{#if (ne pagination.page pagination.last_page)}}
            {{> partials/pagination/page_link page=pagination.last_page }}
        {{/if}}
    </div>
    <div class="-mt-px flex w-0 flex-1 justify-end">
        {{#> partials/atoms/link 
            href=(concat requested_path "?page=" (add pagination.page 1) (preserve_query_params query_params)) 
            className="inline-flex pt-4"
            disabled=(eq pagination.page pagination.last_page)
            is_ajax_action=true
        }}
            Nächste Seite
            {{> icons/arrow}}
        {{/partials/atoms/link}}
    </div>
</nav>